
h1 {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 3em;
}

.about {
	display: block;
	margin: auto;
	width: 55em;
}

.about-text {
	font-family: Helvetica, sans-serif;
}

#home-link {
	text-align: center;
}